// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

$signature-text: #292929;
$signature-text-des: #C2C2C2;
$auth-title: #29398c;
$auth-description: #828282;
$main-color: #F26D21;
$button-main-color: #5442BC;

$sidebar-main: #3B13C2;
$icon-main: #4420CB;
$icon-gray: #C4C4C4;
$dashboard-text: #020202;
$sidebar-plus: #634DDB;
$sidebar-modal-text: #333333;
$sidebar-modal-link: #2F80ED;
$sidebar-tooltip: #555;
$icon-dark-gray: #607080;
//size
$sidebar-width: 216px;
$sidebar-collapse-width: 80px;
$color-gray: #bfbfbf;

//breakpint
$sm: 767px;
